.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reposition {
  overflow: hidden;
  position: relative;
}

.fb_invisible {
  display: none;
}

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

.fb_reset > div {
  overflow: hidden;
}
caption {
  caption-side: top !important;
}
@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fb_animate {
  animation: fb_transform 0.3s forwards;
}

.fb_dialog {
  background: rgba(82, 82, 82, 0.7);
  position: absolute;
  top: -10000px;
  z-index: 10001;
}
.content-right {
  width: 30% !important;
}
.content-main .dv-related {
  display: none;
}
.content {
  width: 70%;
  padding: 10px;
}
.fb_dialog_advanced {
  border-radius: 8px;
  padding: 10px;
}
.content-right {
  float: right !important;
  margin-top: 5px !important;
  padding-left: 5px !important;
}
.intro-img-special img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  margin: auto;
}
.title-special {
  width: 75%;
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 10px;
}
.ftco-footer{
  position: relative;
  bottom: 0 !important;
  left: 0 !important;
  width: 100%;
}
.dv-list-item-special {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}
.intro-img-special {
  width: 20%;
}
.intro-img-special a {
  color: #000;
  display: block;
  position: relative;
  /* height: 0; */
  padding: 67% 0 0 0;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .title-special {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .content-main,
  .content-right {
    padding: 0 7px !important;
  }
  .content-right {
    width: 30% !important;
  }
  .content {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .content-body-container {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.content-body-container-detail {
  background-image: none;
  background-color: #fdfdfd;
}
.fix-border {
  max-width: 1366px !important;
  margin: auto !important;
}
@media (min-width: 768px) {
  .img-item-gallery,
  .grid-sizer {
    width: 33.33%;
  }
}
.image img {
  width: 100%;
}
.valight_b {
  vertical-align: bottom;
}
#list-image-id {
  height: 372.25px !important;
}
.content {
  float: left;
  margin-top: 5px;
  text-align: left;
}
.fb_dialog_content {
  background: #fff;
  color: #373737;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.fb_dialog_close_icon {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
    no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px;
}

.fb_dialog_mobile .fb_dialog_close_icon {
  left: 5px;
  right: auto;
  top: 5px;
}

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.fb_dialog_close_icon:hover {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
    no-repeat scroll 0 -15px transparent;
}

.fb_dialog_close_icon:active {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
    no-repeat scroll 0 -30px transparent;
}

.fb_dialog_iframe {
  line-height: 0;
}

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.fb_dialog_content .dialog_title > span {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif)
    no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px;
}

body.fb_hidden {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  transform: none;
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif)
    white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001;
}

.fb_dialog.fb_dialog_mobile.loading.centered {
  background: none;
  height: auto;
  min-height: initial;
  min-width: initial;
  width: auto;
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
  background: none;
}

.loading.centered #fb_dialog_loader_close {
  clear: both;
  color: #fff;
  display: block;
  font-size: 18px;
  padding-top: 20px;
}

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none;
}

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden;
}

.fb_dialog_mobile .fb_dialog_iframe {
  position: sticky;
  top: 0;
}

.fb_dialog_content .dialog_header {
  background: linear-gradient(from(#738aba), to(#2c4987));
  border-bottom: 1px solid;
  border-color: #043b87;
  box-shadow: white 0 1px 1px -1px inset;
  color: #fff;
  font: bold 14px Helvetica, sans-serif;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.fb_dialog_content .dialog_header table {
  height: 43px;
  width: 100%;
}

.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .touchable_button {
  background: linear-gradient(from(#4267b2), to(#2a4887));
  background-clip: padding-box;
  border: 1px solid #29487d;
  border-radius: 3px;
  display: inline-block;
  line-height: 18px;
  margin-top: 3px;
  max-width: 85px;
  padding: 4px 12px;
  position: relative;
}

.fb_dialog_content .dialog_header .touchable_button input {
  background: none;
  border: none;
  color: #fff;
  font: bold 12px Helvetica, sans-serif;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
}

.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.fb_dialog_content .dialog_content {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif)
    no-repeat 50% 50%;
  border: 1px solid #4a4a4a;
  border-bottom: 0;
  border-top: 0;
  height: 150px;
}

.fb_dialog_content .dialog_footer {
  background: #f5f6f7;
  border: 1px solid #4a4a4a;
  border-top-color: #ccc;
  height: 40px;
}

#fb_dialog_loader_close {
  float: left;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden;
}

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.fb_iframe_widget iframe {
  position: absolute;
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
  max-width: 100%;
}

.fb_iframe_widget_fluid_desktop iframe {
  min-width: 220px;
  position: relative;
}

.fb_iframe_widget_lift {
  z-index: 1;
}

.fb_iframe_widget_fluid {
  display: inline;
}

.fb_iframe_widget_fluid span {
  width: 100%;
}
.crisp-client .crisp-1rjpbb7 .crisp-12w1xmh,
.crisp-client .crisp-1rjpbb7 .crisp-poqhnx:hover {
  color: #ffeae1 !important;
  -webkit-text-fill-color: #ffeae1 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1wiroug,
.crisp-client .crisp-1rjpbb7 .crisp-ao27ue:hover {
  color: #661602 !important;
  -webkit-text-fill-color: #661602 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-6mlwlm,
.crisp-client .crisp-1rjpbb7 .crisp-q5z06s:hover {
  color: #b22704 !important;
  -webkit-text-fill-color: #b22704 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-wcida4,
.crisp-client .crisp-1rjpbb7 .crisp-o6w0yc:hover {
  color: #ff3806 !important;
  -webkit-text-fill-color: #ff3806 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-pusm34 {
  background-color: #ffeae1 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-bdhv0t {
  background-color: #661602 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-9o0cq7 {
  background-color: #d82f05 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ws3gf1,
.crisp-client .crisp-1rjpbb7 .crisp-13h0akn:before,
.crisp-client .crisp-1rjpbb7 .crisp-13h0akn:after {
  background-color: #ff3806 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1gr5ak3 {
  background-color: #fdf5f5 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-145mbcr,
.crisp-client .crisp-1rjpbb7 .crisp-1jrqqbm:hover {
  background-color: #f9f9f9 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-17f70m7 {
  background-image: linear-gradient(
    125deg,
    #ff3806 -10%,
    #661602 100%
  ) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-111u58f,
.crisp-client .crisp-1rjpbb7 .crisp-y1nqlk:hover {
  border-color: #ffeae1 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14u434g {
  border-color: rgba(102, 22, 2, 0.175) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k6ym6q,
.crisp-client .crisp-1rjpbb7 .crisp-1hadq69:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1kqjjm4:before,
.crisp-client .crisp-1rjpbb7 .crisp-1kqjjm4:after {
  border-color: #ff3806 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1n0zdj7 {
  border-color: rgba(255, 56, 6, 0.15) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-rdu43e {
  border-top-color: #ff3806 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ogcg7k,
.crisp-client .crisp-1rjpbb7 .crisp-1mnx9b2:hover {
  border-color: #fdf5f5 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:-moz-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11::-moz-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:-ms-input-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11::-webkit-input-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:-moz-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp::-moz-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:-ms-input-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp::-webkit-input-placeholder {
  color: #ff4607 !important;
  -webkit-text-fill-color: #ff4607 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-gjhthi,
.crisp-client .crisp-1rjpbb7 .crisp-1t1dtpc:hover,
.crisp-client .crisp-1rjpbb7 .crisp-gjhthi:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1t1dtpc:active,
.crisp-client .crisp-1rjpbb7 .crisp-gjhthi:active,
.crisp-client .crisp-1rjpbb7 .crisp-1v3kwn:hover .crisp-oc2kqi,
.crisp-client .crisp-1rjpbb7 .crisp-1v3kwn .crisp-oc2kqi:active {
  background: #661602 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx,
.crisp-client .crisp-1rjpbb7 .crisp-1r2x6vr:hover {
  background: #b22704 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1r2x6vr:active {
  background: #8c1e03 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx:active {
  background: #661602 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-27o9vm:hover .crisp-1ekhg1c {
  background: #b22704 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-27o9vm .crisp-1ekhg1c:active {
  background: #8c1e03 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf,
.crisp-client .crisp-1rjpbb7 .crisp-1fmeyoi[data-active="true"] {
  background: #ff3806 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf:hover {
  background: #d82f05 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf:active {
  background: #b22704 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j::-moz-selection,
.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j *::-moz-selection {
  background-color: #ff4b08 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j::selection,
.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j *::selection {
  background-color: #ff4b08 !important;
}
.crisp-client .crisp-1rjpbb7 {
  z-index: 1000000;
}
.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="false"]
  .crisp-1rf4xdh
  .crisp-kquevr,
.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="false"]
  .crisp-1rf4xdh
  .crisp-ewasyx {
  margin-right: 0px !important;
}

.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="false"]
  .crisp-1rf4xdh
  .crisp-kquevr
  .crisp-1059tj2
  .crisp-1xaupiq {
  margin-right: 0px !important;
}

.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="true"]
  .crisp-1rf4xdh
  .crisp-kquevr,
.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="true"]
  .crisp-1rf4xdh
  .crisp-ewasyx {
  margin-left: 0px !important;
}

.crisp-client
  .crisp-1rjpbb7[data-full-view="false"][data-position-reverse="true"]
  .crisp-1rf4xdh
  .crisp-kquevr
  .crisp-1059tj2
  .crisp-1xaupiq {
  margin-left: 0px !important;
}
tbody,
tr,
td {
  border: 1px solid #08088a;
}
